{% extends "base.html" %}
{% block content %}

<h1>Contact Management</h1>
<a class="btn btn-primary" href="{% url 'contact_create' %}">
    Create a new contact
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Contact Name</th>
            <th>Email</th>
            <th>Created Time</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contact_list %}
        <tr>
            <td>
                <a class="icon-link" href="{% url 'contact_detail' contact.pk %}">
                    <i class="bi bi-pencil"></i> </a>
                  &nbsp;
          
        
    
                  &nbsp;
                  {{ contact.name }}
            </td>
            <td>
                {{contact.email}}
            </td>
            <td>
                {{contact.created_time}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}