<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous">
  <!-- Option 1: Include in HTML -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    <title>Contact Management</title>
    <!-- load the static folder to access images -->
    {% load static %}
</head>
<style>
    footer {
        text-align: center;
        color:blue;
        margin: 50px;
        font-weight: bold;
        font-size: large;
    }
    h1{
        text-align: center;
        margin: 50px;
        color: blue;
 
    }
    img{
        width: 10%;
        border-radius: 50%;
    }
</style>

<body>
    <div class="container">
        {% block content %}
        {% endblock content%}

        <footer>
            <p>&copy; Created by Victoria Tran</p>
            <img src = "{% static 'images/cat.jpg' %}" alt="cute cat">
        </footer>
    </div>
</body>
</html>